.logotext {
	text-align: center;
	font-size: 92px;
	font-family: "Libre Baskerville", serif;
    line-height: 120px;
}
.bodytext {
	text-align: center;
	font-size: 18px;
	font-family: "Libre Baskerville", serif;
    line-height: 60px;
}
